<div class="container">
	<div class="row">
		<div class="col-md-11 nofloat center-block">
			<ul class="col-sm-10 doc-nav">
				{% assign current = page.url | downcase | split: '/' %}
				<li class="tab docs-tab"><a href="{{ site.baseurl }}/docs/">Docs</a></li>
				<span class="doc-caret">></span>
				<li class="tab"><a href="{{ site.baseurl }}/docs/" {% if page.path == 'docs/index.html' %}class='current'{% endif %}>Overview</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/svid" {% if current[2] == 'quickstart' %}class='current'{% endif %}>SVID</a></li>
			 </ul>
			 <!--
			 {% include contribute-links.html %}
			 -->
		</div>
	</div>
</div>
