<div class="hero">
  <div class="container">
    <img class="logo" src="img/spiffe-logo-color.svg" alt="SPIFFE">
    <h1 class="hero-lead">Secure Production Identity Framework for Everyone</h1>
    <h2 class="hero-caption">Inspired by Google and others, SPIFFE is an open-source framework for securely identifying software systems in dynamic and heterogenous production environments</h2>
    <a href="{{ site.baseurl }}/about">
    	<button class="btn btn-spiffe waves-effect btn-hero">LEARN MORE</button>
    </a>
  </div>
</div>
