// Background for landing page
.landing-hero-container {
  background: url('../img/spiffe-bg.png') repeat center/cover; 
  z-index: 9010;
  position: absolute;
  width: 100%;
  @media (min-width: 767px) {
     height: 100%;
  }

  footer {
    @media (min-height: 800px) {
      position: fixed;
    }
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (max-width: 767px) {
      position: relative;
    }
  }
}

// Background for nav and hero
.nav-hero-container {
  background: url('../img/spiffe-bg.png') repeat center/cover; 
  z-index: 9010;
  position: relative;
}

// Landing page hero
.hero {
  padding-bottom: 60px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet) {
    padding-bottom: 75px;
  }

  .logo {
    margin-bottom: $spacing--l;
    margin-top: $spacing--l;
    padding: $spacing--s $spacing--m;
    width: 300px;
  }

  .hero-lead {
    color: $white;
    display: block;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: $spacing--l;
    font-weight: 400;
  }

  .hero-caption {
    color: $white;
    display: block;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: $spacing--xl;
    font-weight: 200;
    line-height: 2;
    margin-left: 10%;
    margin-right: 10%;
  }
}
